#son3Feedback {
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // background-image: ;
  .body {
    // display: flex;
    // flex-direction: column;
    width: 100%;
    // position: absolute;
    // top: 115px;
    // bottom: 0px;
    // left: 0px;
    // flex: 1;

    // background-color: pink;

    .feedbackForm {
      width: 60%;
      // height: 20vh;
      margin: 115px 20% 0 20%;

      .el-form {
        width: 100%;
        padding: 50px 0 0 0;

        .el-button {
          margin: 20px 10px 0 0;
        }
      }
    }

    .instructions {
      width: 60%;
      margin: 30px 20% 5% 20%;
      // background-color: goldenrod;

      h4 {
        color: gray;
      }
      p {
        font-size: 0.8em;
        color: gray;
      }
    }
  }

  #foot {
    width: 60%;
<<<<<<< HEAD
    margin: 30px 20% 10% 20%;
=======
    margin: 30px 20% 100px 20%;
    padding: 0 0 10px 0;
>>>>>>> 829f733 (20220519)

    height: 400px;
    // background-color: #eee;

    .el-card {
      .title {
        #p {
          font-size: 0.8em;
          color: gray;
        }
      }
    }
  }
}
